<h1>Got it!</h1>

<div class="well">
  <button class="btn btn-default btn-lg btn-block">What is Got it?</button>
  <button class="btn-primary btn-lg btn-block">Play me and go first</button>
  <button class="btn-primary btn-lg btn-block">Play me and go second</button>
  <button class="btn-primary btn-lg btn-block">Play a friend</button>
</div>

<div>
  <h1>Your target is 31</h1>
  <h1>We have reached</h1>
  <div class="target">0</div>
</div>

<div>
  <button class="btn btn-default" ng-click="open()">Open me!</button>
  <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>